/*
p {
  background-color: darkturquoise;
}
 This is

.myclassone {
  background-color: blueviolet;
  border-bottom: solid 5px;
  transition: 10s;
}

.myclasstwo {
  margin-top: 100px;
  transition: 3s;
  rotate: 3599deg;
  transition-timing-function: ease-in;
}
*/
div {
  border: 1px solid black;
}
